name: Config Server Build

on:
  push:
    branches:
      - master
    paths:
      - 'services/config-server/**'
      - '.github/workflows/main.yml' 
      - 'Dockerfile'
  pull_request:
    branches:
      - master
    paths:
      - 'services/config-server/**'
      - '.github/workflows/main.yml'
      - 'Dockerfile'

jobs:
  config-server-build:
    uses: ./.github/workflows/main.yml
    with:
      service-name: 'config-server'
      service-port: '8888'
      java-version: '21'
    secrets:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}