name: Gateway Service Build

on:
  push:
    branches:
      - master
    paths:
      - 'services/gateway/**'
      - '.github/workflows/main.yml'
      - 'Dockerfile' 
  pull_request:
    branches:
      - master
    paths:
      - 'services/gateway/**'
      - '.github/workflows/main.yml'
      - 'Dockerfile'

jobs:
  gateway-build:
    uses: ./.github/workflows/main.yml
    with:
      service-name: 'gateway'
      service-port: '8222'
      java-version: '21'
    secrets:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}