name: Main Build and Push Workflow

on:
  workflow_call:
    inputs:
      service-name:
        required: true
        type: string
      service-port:
        required: false 
        type: string
        default: '' 
      java-version:
        required: false
        type: string
        default: '21'
    secrets:
      DOCKER_USERNAME:
        required: true
      DOCKERHUB_TOKEN:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        if: ${{ github.event_name != 'pull_request' }}
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push Docker Image
        if: ${{ github.event_name != 'pull_request' }}
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: berkesayin/${{ inputs.service-name }}:1.0
          build-args: |
            SERVICE_NAME=${{ inputs.service-name }}
            SERVICE_PORT=${{ inputs.service-port }}
            JAVA_VERSION=${{ inputs.java-version }}

      - name: Build Docker Image (Dry Run)
        if: ${{ github.event_name == 'pull_request' }}
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
          push: false
          tags: berkesayin/${{ inputs.service-name }}:dry-run
          build-args: |
            SERVICE_NAME=${{ inputs.service-name }}
            SERVICE_PORT=${{ inputs.service-port }}
            JAVA_VERSION=${{ inputs.java-version }}