name: Payment Service Build

on:
  push:
    branches:
      - master
    paths:
      - 'services/payment/**'
      - '.github/workflows/main.yml'
      - 'Dockerfile'
  pull_request:
    branches:
      - master
    paths:
      - 'services/payment/**'
      - '.github/workflows/main.yml'
      - 'Dockerfile'

jobs:
  payment-build:
    uses: ./.github/workflows/main.yml
    with:
      service-name: 'payment'
      service-port: '8060'
      java-version: '21'
    secrets:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}