name: Search Service Build

on:
  push:
    branches:
      - master
    paths:
      - 'services/search/**'
      - '.github/workflows/main.yml' 
      - 'Dockerfile' 
  pull_request:
    branches:
      - master
    paths:
      - 'services/search/**'
      - '.github/workflows/main.yml'
      - 'Dockerfile'

jobs:
  search-build:
    uses: ./.github/workflows/main.yml
    with:
      service-name: 'search'
      service-port: '8015'
      java-version: '21'
    secrets:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}